{
  "openapi": "3.1.0",
  "info": {
    "title": "Cricket",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api.sportradar.com/cricket-t2/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/{language_code}/schedules/{date}/schedule.{format}": {
      "get": {
        "summary": "Daily Schedule",
        "description": "Provides schedule information for all matches played on a given day.",
        "operationId": "cricket-daily-schedule",
        "parameters": [
          {
            "name": "language_code",
            "in": "path",
            "description": "2 letter code for supported languages<br><br>`en` (English) is the only fully supported language for this API. Click **[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)** for a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "required": true
          },
          {
            "name": "date",
            "in": "path",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2024-01-06"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"generated_at\": \"2024-01-17T21:52:10.504Z\",\n  \"sport_events\": [\n    {\n      \"competitors\": [\n        {\n          \"abbreviation\": \"string\",\n          \"age_group\": \"U23\",\n          \"category\": {\n            \"country_code\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"country\": \"string\",\n          \"country_code\": \"string\",\n          \"gender\": \"string\",\n          \"id\": \"string\",\n          \"ioc_code\": \"string\",\n          \"name\": \"string\",\n          \"qualifier\": \"home\",\n          \"sport\": {\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"virtual\": true\n        }\n      ],\n      \"id\": \"string\",\n      \"replaced_by\": \"string\",\n      \"scheduled\": \"2024-01-17T21:52:10.504Z\",\n      \"season\": {\n        \"end_date\": \"2024-01-17\",\n        \"id\": \"string\",\n        \"name\": \"string\",\n        \"start_date\": \"2024-01-17\",\n        \"tournament_id\": \"string\",\n        \"year\": \"string\"\n      },\n      \"sport_event_conditions\": {\n        \"comment\": {\n          \"text\": \"string\"\n        },\n        \"day_night\": \"day\",\n        \"neutral_venue\": true,\n        \"outfield_info\": {\n          \"outfield_conditions\": \"slow\"\n        },\n        \"pitch_info\": {\n          \"boundary_position\": \"in\",\n          \"grass_cover\": \"barren\",\n          \"pitch_moisture\": \"very_dry\",\n          \"pitch_quality\": \"normal\"\n        },\n        \"referees\": {\n          \"referee\": {\n            \"country_code\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"nationality\": \"string\",\n            \"type\": \"main_referee\"\n          },\n          \"umpires\": [\n            {\n              \"id\": \"string\",\n              \"name\": \"string\",\n              \"number\": 0,\n              \"type\": \"3rd\"\n            }\n          ]\n        },\n        \"type\": \"test\",\n        \"weather_info\": {\n          \"rain_conditions\": \"no_rain\",\n          \"sky_conditions\": \"clear\",\n          \"temperature_range\": \"very_hot\",\n          \"wind_conditions\": \"no_wind\"\n        }\n      },\n      \"start_time_tbd\": true,\n      \"status\": \"string\",\n      \"tour\": {\n        \"category\": {\n          \"country_code\": \"string\",\n          \"id\": \"string\",\n          \"name\": \"string\"\n        },\n        \"id\": \"string\",\n        \"name\": \"string\",\n        \"sport\": {\n          \"id\": \"string\",\n          \"name\": \"string\"\n        }\n      },\n      \"tournament\": {\n        \"category\": {\n          \"country_code\": \"string\",\n          \"id\": \"string\",\n          \"name\": \"string\"\n        },\n        \"current_season\": {\n          \"end_date\": \"2024-01-17\",\n          \"id\": \"string\",\n          \"name\": \"string\",\n          \"start_date\": \"2024-01-17\",\n          \"year\": \"string\"\n        },\n        \"gender\": \"men\",\n        \"id\": \"string\",\n        \"name\": \"string\",\n        \"parent_id\": \"string\",\n        \"season_coverage_info\": {\n          \"max_coverage_level\": \"string\",\n          \"max_covered\": \"string\",\n          \"min_coverage_level\": \"string\",\n          \"played\": 0,\n          \"scheduled\": 0,\n          \"season_id\": \"string\"\n        },\n        \"sport\": {\n          \"id\": \"string\",\n          \"name\": \"string\"\n        },\n        \"tour_id\": \"string\",\n        \"type\": \"test\"\n      },\n      \"tournament_round\": {\n        \"cup_round_match_number\": 0,\n        \"cup_round_matches\": 0,\n        \"name\": \"string\",\n        \"number\": 0,\n        \"other_match_id\": \"string\",\n        \"phase\": \"string\",\n        \"type\": \"string\"\n      },\n      \"venue\": {\n        \"bowling_ends\": [\n          {\n            \"name\": \"string\"\n          }\n        ],\n        \"capacity\": 0,\n        \"city_name\": \"string\",\n        \"country_code\": \"string\",\n        \"country_name\": \"string\",\n        \"id\": \"string\",\n        \"map_coordinates\": \"string\",\n        \"name\": \"string\",\n        \"timezone\": \"string\"\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2024-01-17T21:52:10.504Z"
                    },
                    "sport_events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "competitors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "abbreviation": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "age_group": {
                                  "type": "string",
                                  "example": "U23"
                                },
                                "category": {
                                  "type": "object",
                                  "properties": {
                                    "country_code": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "country": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "country_code": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "gender": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "ioc_code": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "qualifier": {
                                  "type": "string",
                                  "example": "home"
                                },
                                "sport": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "virtual": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                }
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "example": "string"
                          },
                          "replaced_by": {
                            "type": "string",
                            "example": "string"
                          },
                          "scheduled": {
                            "type": "string",
                            "example": "2024-01-17T21:52:10.504Z"
                          },
                          "season": {
                            "type": "object",
                            "properties": {
                              "end_date": {
                                "type": "string",
                                "example": "2024-01-17"
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              },
                              "start_date": {
                                "type": "string",
                                "example": "2024-01-17"
                              },
                              "tournament_id": {
                                "type": "string",
                                "example": "string"
                              },
                              "year": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "sport_event_conditions": {
                            "type": "object",
                            "properties": {
                              "comment": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "day_night": {
                                "type": "string",
                                "example": "day"
                              },
                              "neutral_venue": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "outfield_info": {
                                "type": "object",
                                "properties": {
                                  "outfield_conditions": {
                                    "type": "string",
                                    "example": "slow"
                                  }
                                }
                              },
                              "pitch_info": {
                                "type": "object",
                                "properties": {
                                  "boundary_position": {
                                    "type": "string",
                                    "example": "in"
                                  },
                                  "grass_cover": {
                                    "type": "string",
                                    "example": "barren"
                                  },
                                  "pitch_moisture": {
                                    "type": "string",
                                    "example": "very_dry"
                                  },
                                  "pitch_quality": {
                                    "type": "string",
                                    "example": "normal"
                                  }
                                }
                              },
                              "referees": {
                                "type": "object",
                                "properties": {
                                  "referee": {
                                    "type": "object",
                                    "properties": {
                                      "country_code": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "nationality": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "main_referee"
                                      }
                                    }
                                  },
                                  "umpires": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "number": {
                                          "type": "integer",
                                          "example": 0,
                                          "default": 0
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "3rd"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "example": "test"
                              },
                              "weather_info": {
                                "type": "object",
                                "properties": {
                                  "rain_conditions": {
                                    "type": "string",
                                    "example": "no_rain"
                                  },
                                  "sky_conditions": {
                                    "type": "string",
                                    "example": "clear"
                                  },
                                  "temperature_range": {
                                    "type": "string",
                                    "example": "very_hot"
                                  },
                                  "wind_conditions": {
                                    "type": "string",
                                    "example": "no_wind"
                                  }
                                }
                              }
                            }
                          },
                          "start_time_tbd": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "status": {
                            "type": "string",
                            "example": "string"
                          },
                          "tour": {
                            "type": "object",
                            "properties": {
                              "category": {
                                "type": "object",
                                "properties": {
                                  "country_code": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              },
                              "sport": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              }
                            }
                          },
                          "tournament": {
                            "type": "object",
                            "properties": {
                              "category": {
                                "type": "object",
                                "properties": {
                                  "country_code": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "current_season": {
                                "type": "object",
                                "properties": {
                                  "end_date": {
                                    "type": "string",
                                    "example": "2024-01-17"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "start_date": {
                                    "type": "string",
                                    "example": "2024-01-17"
                                  },
                                  "year": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "gender": {
                                "type": "string",
                                "example": "men"
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              },
                              "parent_id": {
                                "type": "string",
                                "example": "string"
                              },
                              "season_coverage_info": {
                                "type": "object",
                                "properties": {
                                  "max_coverage_level": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "max_covered": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "min_coverage_level": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "played": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "scheduled": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "season_id": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "sport": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "tour_id": {
                                "type": "string",
                                "example": "string"
                              },
                              "type": {
                                "type": "string",
                                "example": "test"
                              }
                            }
                          },
                          "tournament_round": {
                            "type": "object",
                            "properties": {
                              "cup_round_match_number": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "cup_round_matches": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              },
                              "number": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "other_match_id": {
                                "type": "string",
                                "example": "string"
                              },
                              "phase": {
                                "type": "string",
                                "example": "string"
                              },
                              "type": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "venue": {
                            "type": "object",
                            "properties": {
                              "bowling_ends": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              },
                              "capacity": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "city_name": {
                                "type": "string",
                                "example": "string"
                              },
                              "country_code": {
                                "type": "string",
                                "example": "string"
                              },
                              "country_name": {
                                "type": "string",
                                "example": "string"
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "map_coordinates": {
                                "type": "string",
                                "example": "string"
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              },
                              "timezone": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{language_code}/schedules/{date}/results.{format}": {
      "get": {
        "summary": "Daily Results",
        "description": "Provides a summary of all matches played on a given day.",
        "operationId": "cricket-daily-results",
        "parameters": [
          {
            "name": "language_code",
            "in": "path",
            "description": "2 letter code for supported languages<br><br>`en` (English) is the only fully supported language for this API. Click **[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)** for a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "required": true
          },
          {
            "name": "date",
            "in": "path",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date",
              "default": "2024-01-06"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"generated_at\": \"2024-01-17T21:51:40.192Z\",\n  \"results\": [\n    {\n      \"sport_event\": {\n        \"competitors\": [\n          {\n            \"abbreviation\": \"string\",\n            \"age_group\": \"U23\",\n            \"category\": {\n              \"country_code\": \"string\",\n              \"id\": \"string\",\n              \"name\": \"string\"\n            },\n            \"country\": \"string\",\n            \"country_code\": \"string\",\n            \"gender\": \"string\",\n            \"id\": \"string\",\n            \"ioc_code\": \"string\",\n            \"name\": \"string\",\n            \"qualifier\": \"home\",\n            \"sport\": {\n              \"id\": \"string\",\n              \"name\": \"string\"\n            },\n            \"virtual\": true\n          }\n        ],\n        \"id\": \"string\",\n        \"replaced_by\": \"string\",\n        \"scheduled\": \"2024-01-17T21:51:40.192Z\",\n        \"season\": {\n          \"end_date\": \"2024-01-17\",\n          \"id\": \"string\",\n          \"name\": \"string\",\n          \"start_date\": \"2024-01-17\",\n          \"tournament_id\": \"string\",\n          \"year\": \"string\"\n        },\n        \"sport_event_conditions\": {\n          \"comment\": {\n            \"text\": \"string\"\n          },\n          \"day_night\": \"day\",\n          \"neutral_venue\": true,\n          \"outfield_info\": {\n            \"outfield_conditions\": \"slow\"\n          },\n          \"pitch_info\": {\n            \"boundary_position\": \"in\",\n            \"grass_cover\": \"barren\",\n            \"pitch_moisture\": \"very_dry\",\n            \"pitch_quality\": \"normal\"\n          },\n          \"referees\": {\n            \"referee\": {\n              \"country_code\": \"string\",\n              \"id\": \"string\",\n              \"name\": \"string\",\n              \"nationality\": \"string\",\n              \"type\": \"main_referee\"\n            },\n            \"umpires\": [\n              {\n                \"id\": \"string\",\n                \"name\": \"string\",\n                \"number\": 0,\n                \"type\": \"3rd\"\n              }\n            ]\n          },\n          \"type\": \"test\",\n          \"weather_info\": {\n            \"rain_conditions\": \"no_rain\",\n            \"sky_conditions\": \"clear\",\n            \"temperature_range\": \"very_hot\",\n            \"wind_conditions\": \"no_wind\"\n          }\n        },\n        \"start_time_tbd\": true,\n        \"status\": \"string\",\n        \"tour\": {\n          \"category\": {\n            \"country_code\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"id\": \"string\",\n          \"name\": \"string\",\n          \"sport\": {\n            \"id\": \"string\",\n            \"name\": \"string\"\n          }\n        },\n        \"tournament\": {\n          \"category\": {\n            \"country_code\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"current_season\": {\n            \"end_date\": \"2024-01-17\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"start_date\": \"2024-01-17\",\n            \"year\": \"string\"\n          },\n          \"gender\": \"men\",\n          \"id\": \"string\",\n          \"name\": \"string\",\n          \"parent_id\": \"string\",\n          \"season_coverage_info\": {\n            \"max_coverage_level\": \"string\",\n            \"max_covered\": \"string\",\n            \"min_coverage_level\": \"string\",\n            \"played\": 0,\n            \"scheduled\": 0,\n            \"season_id\": \"string\"\n          },\n          \"sport\": {\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"tour_id\": \"string\",\n          \"type\": \"test\"\n        },\n        \"tournament_round\": {\n          \"cup_round_match_number\": 0,\n          \"cup_round_matches\": 0,\n          \"name\": \"string\",\n          \"number\": 0,\n          \"other_match_id\": \"string\",\n          \"phase\": \"string\",\n          \"type\": \"string\"\n        },\n        \"venue\": {\n          \"bowling_ends\": [\n            {\n              \"name\": \"string\"\n            }\n          ],\n          \"capacity\": 0,\n          \"city_name\": \"string\",\n          \"country_code\": \"string\",\n          \"country_name\": \"string\",\n          \"id\": \"string\",\n          \"map_coordinates\": \"string\",\n          \"name\": \"string\",\n          \"timezone\": \"string\"\n        }\n      },\n      \"sport_event_status\": {\n        \"allotted_overs\": 0,\n        \"current_inning\": 0,\n        \"current_session\": 0,\n        \"decided_by_fed\": true,\n        \"display_overs\": 0,\n        \"display_score\": \"string\",\n        \"match_day\": 0,\n        \"match_status\": \"string\",\n        \"period_scores\": [\n          {\n            \"allotted_overs\": 0,\n            \"away_score\": 0,\n            \"away_wickets\": 0,\n            \"display_overs\": 0,\n            \"display_score\": \"string\",\n            \"home_score\": 0,\n            \"home_wickets\": 0,\n            \"number\": 0,\n            \"type\": \"string\"\n          }\n        ],\n        \"remaining_overs\": 0,\n        \"required_run_rate\": 0,\n        \"run_rate\": 0,\n        \"run_rate_required\": \"string\",\n        \"status\": \"string\",\n        \"target\": 0,\n        \"toss_decision\": \"string\",\n        \"toss_won_by\": \"string\",\n        \"winner_id\": \"string\"\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2024-01-17T21:51:40.192Z"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sport_event": {
                            "type": "object",
                            "properties": {
                              "competitors": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "abbreviation": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "age_group": {
                                      "type": "string",
                                      "example": "U23"
                                    },
                                    "category": {
                                      "type": "object",
                                      "properties": {
                                        "country_code": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "id": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    },
                                    "country": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "country_code": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "gender": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "ioc_code": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "qualifier": {
                                      "type": "string",
                                      "example": "home"
                                    },
                                    "sport": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    },
                                    "virtual": {
                                      "type": "boolean",
                                      "example": true,
                                      "default": true
                                    }
                                  }
                                }
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "replaced_by": {
                                "type": "string",
                                "example": "string"
                              },
                              "scheduled": {
                                "type": "string",
                                "example": "2024-01-17T21:51:40.192Z"
                              },
                              "season": {
                                "type": "object",
                                "properties": {
                                  "end_date": {
                                    "type": "string",
                                    "example": "2024-01-17"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "start_date": {
                                    "type": "string",
                                    "example": "2024-01-17"
                                  },
                                  "tournament_id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "year": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "sport_event_conditions": {
                                "type": "object",
                                "properties": {
                                  "comment": {
                                    "type": "object",
                                    "properties": {
                                      "text": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "day_night": {
                                    "type": "string",
                                    "example": "day"
                                  },
                                  "neutral_venue": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "outfield_info": {
                                    "type": "object",
                                    "properties": {
                                      "outfield_conditions": {
                                        "type": "string",
                                        "example": "slow"
                                      }
                                    }
                                  },
                                  "pitch_info": {
                                    "type": "object",
                                    "properties": {
                                      "boundary_position": {
                                        "type": "string",
                                        "example": "in"
                                      },
                                      "grass_cover": {
                                        "type": "string",
                                        "example": "barren"
                                      },
                                      "pitch_moisture": {
                                        "type": "string",
                                        "example": "very_dry"
                                      },
                                      "pitch_quality": {
                                        "type": "string",
                                        "example": "normal"
                                      }
                                    }
                                  },
                                  "referees": {
                                    "type": "object",
                                    "properties": {
                                      "referee": {
                                        "type": "object",
                                        "properties": {
                                          "country_code": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "id": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "name": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "nationality": {
                                            "type": "string",
                                            "example": "string"
                                          },
                                          "type": {
                                            "type": "string",
                                            "example": "main_referee"
                                          }
                                        }
                                      },
                                      "umpires": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "id": {
                                              "type": "string",
                                              "example": "string"
                                            },
                                            "name": {
                                              "type": "string",
                                              "example": "string"
                                            },
                                            "number": {
                                              "type": "integer",
                                              "example": 0,
                                              "default": 0
                                            },
                                            "type": {
                                              "type": "string",
                                              "example": "3rd"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "test"
                                  },
                                  "weather_info": {
                                    "type": "object",
                                    "properties": {
                                      "rain_conditions": {
                                        "type": "string",
                                        "example": "no_rain"
                                      },
                                      "sky_conditions": {
                                        "type": "string",
                                        "example": "clear"
                                      },
                                      "temperature_range": {
                                        "type": "string",
                                        "example": "very_hot"
                                      },
                                      "wind_conditions": {
                                        "type": "string",
                                        "example": "no_wind"
                                      }
                                    }
                                  }
                                }
                              },
                              "start_time_tbd": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "status": {
                                "type": "string",
                                "example": "string"
                              },
                              "tour": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "object",
                                    "properties": {
                                      "country_code": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "sport": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "tournament": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "object",
                                    "properties": {
                                      "country_code": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "current_season": {
                                    "type": "object",
                                    "properties": {
                                      "end_date": {
                                        "type": "string",
                                        "example": "2024-01-17"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "start_date": {
                                        "type": "string",
                                        "example": "2024-01-17"
                                      },
                                      "year": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "gender": {
                                    "type": "string",
                                    "example": "men"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "parent_id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "season_coverage_info": {
                                    "type": "object",
                                    "properties": {
                                      "max_coverage_level": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "max_covered": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "min_coverage_level": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "played": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "scheduled": {
                                        "type": "integer",
                                        "example": 0,
                                        "default": 0
                                      },
                                      "season_id": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "sport": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "tour_id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "test"
                                  }
                                }
                              },
                              "tournament_round": {
                                "type": "object",
                                "properties": {
                                  "cup_round_match_number": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "cup_round_matches": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "number": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "other_match_id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "phase": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "venue": {
                                "type": "object",
                                "properties": {
                                  "bowling_ends": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    }
                                  },
                                  "capacity": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "city_name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "country_code": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "country_name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "map_coordinates": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "timezone": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              }
                            }
                          },
                          "sport_event_status": {
                            "type": "object",
                            "properties": {
                              "allotted_overs": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "current_inning": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "current_session": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "decided_by_fed": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "display_overs": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "display_score": {
                                "type": "string",
                                "example": "string"
                              },
                              "match_day": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "match_status": {
                                "type": "string",
                                "example": "string"
                              },
                              "period_scores": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "allotted_overs": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "away_score": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "away_wickets": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "display_overs": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "display_score": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "home_score": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "home_wickets": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "number": {
                                      "type": "integer",
                                      "example": 0,
                                      "default": 0
                                    },
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              },
                              "remaining_overs": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "required_run_rate": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "run_rate": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "run_rate_required": {
                                "type": "string",
                                "example": "string"
                              },
                              "status": {
                                "type": "string",
                                "example": "string"
                              },
                              "target": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "toss_decision": {
                                "type": "string",
                                "example": "string"
                              },
                              "toss_won_by": {
                                "type": "string",
                                "example": "string"
                              },
                              "winner_id": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{language_code}/schedules/live/schedule.{format}": {
      "get": {
        "summary": "Daily Live Schedule",
        "description": "Provides scheduled match information for all matches being played live.",
        "operationId": "cricket-daily-live-schedule",
        "parameters": [
          {
            "name": "language_code",
            "in": "path",
            "description": "2 letter code for supported languages<br><br>`en` (English) is the only fully supported language for this API. Click **[here](https://api-docs.sportradar.us/misc/Sportradar_API_Languages.xlsx)** for a tabular list of available languages per competition.",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "required": true
          },
          {
            "name": "format",
            "in": "path",
            "description": "Format returned",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"generated_at\": \"2024-01-17T21:51:16.018Z\",\n  \"sport_events\": [\n    {\n      \"competitors\": [\n        {\n          \"abbreviation\": \"string\",\n          \"age_group\": \"U23\",\n          \"category\": {\n            \"country_code\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"country\": \"string\",\n          \"country_code\": \"string\",\n          \"gender\": \"string\",\n          \"id\": \"string\",\n          \"ioc_code\": \"string\",\n          \"name\": \"string\",\n          \"qualifier\": \"home\",\n          \"sport\": {\n            \"id\": \"string\",\n            \"name\": \"string\"\n          },\n          \"virtual\": true\n        }\n      ],\n      \"id\": \"string\",\n      \"replaced_by\": \"string\",\n      \"scheduled\": \"2024-01-17T21:51:16.018Z\",\n      \"season\": {\n        \"end_date\": \"2024-01-17\",\n        \"id\": \"string\",\n        \"name\": \"string\",\n        \"start_date\": \"2024-01-17\",\n        \"tournament_id\": \"string\",\n        \"year\": \"string\"\n      },\n      \"sport_event_conditions\": {\n        \"comment\": {\n          \"text\": \"string\"\n        },\n        \"day_night\": \"day\",\n        \"neutral_venue\": true,\n        \"outfield_info\": {\n          \"outfield_conditions\": \"slow\"\n        },\n        \"pitch_info\": {\n          \"boundary_position\": \"in\",\n          \"grass_cover\": \"barren\",\n          \"pitch_moisture\": \"very_dry\",\n          \"pitch_quality\": \"normal\"\n        },\n        \"referees\": {\n          \"referee\": {\n            \"country_code\": \"string\",\n            \"id\": \"string\",\n            \"name\": \"string\",\n            \"nationality\": \"string\",\n            \"type\": \"main_referee\"\n          },\n          \"umpires\": [\n            {\n              \"id\": \"string\",\n              \"name\": \"string\",\n              \"number\": 0,\n              \"type\": \"3rd\"\n            }\n          ]\n        },\n        \"type\": \"test\",\n        \"weather_info\": {\n          \"rain_conditions\": \"no_rain\",\n          \"sky_conditions\": \"clear\",\n          \"temperature_range\": \"very_hot\",\n          \"wind_conditions\": \"no_wind\"\n        }\n      },\n      \"start_time_tbd\": true,\n      \"status\": \"string\",\n      \"tour\": {\n        \"category\": {\n          \"country_code\": \"string\",\n          \"id\": \"string\",\n          \"name\": \"string\"\n        },\n        \"id\": \"string\",\n        \"name\": \"string\",\n        \"sport\": {\n          \"id\": \"string\",\n          \"name\": \"string\"\n        }\n      },\n      \"tournament\": {\n        \"category\": {\n          \"country_code\": \"string\",\n          \"id\": \"string\",\n          \"name\": \"string\"\n        },\n        \"current_season\": {\n          \"end_date\": \"2024-01-17\",\n          \"id\": \"string\",\n          \"name\": \"string\",\n          \"start_date\": \"2024-01-17\",\n          \"year\": \"string\"\n        },\n        \"gender\": \"men\",\n        \"id\": \"string\",\n        \"name\": \"string\",\n        \"parent_id\": \"string\",\n        \"season_coverage_info\": {\n          \"max_coverage_level\": \"string\",\n          \"max_covered\": \"string\",\n          \"min_coverage_level\": \"string\",\n          \"played\": 0,\n          \"scheduled\": 0,\n          \"season_id\": \"string\"\n        },\n        \"sport\": {\n          \"id\": \"string\",\n          \"name\": \"string\"\n        },\n        \"tour_id\": \"string\",\n        \"type\": \"test\"\n      },\n      \"tournament_round\": {\n        \"cup_round_match_number\": 0,\n        \"cup_round_matches\": 0,\n        \"name\": \"string\",\n        \"number\": 0,\n        \"other_match_id\": \"string\",\n        \"phase\": \"string\",\n        \"type\": \"string\"\n      },\n      \"venue\": {\n        \"bowling_ends\": [\n          {\n            \"name\": \"string\"\n          }\n        ],\n        \"capacity\": 0,\n        \"city_name\": \"string\",\n        \"country_code\": \"string\",\n        \"country_name\": \"string\",\n        \"id\": \"string\",\n        \"map_coordinates\": \"string\",\n        \"name\": \"string\",\n        \"timezone\": \"string\"\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "example": "2024-01-17T21:51:16.018Z"
                    },
                    "sport_events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "competitors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "abbreviation": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "age_group": {
                                  "type": "string",
                                  "example": "U23"
                                },
                                "category": {
                                  "type": "object",
                                  "properties": {
                                    "country_code": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "country": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "country_code": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "gender": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "ioc_code": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "qualifier": {
                                  "type": "string",
                                  "example": "home"
                                },
                                "sport": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "virtual": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                }
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "example": "string"
                          },
                          "replaced_by": {
                            "type": "string",
                            "example": "string"
                          },
                          "scheduled": {
                            "type": "string",
                            "example": "2024-01-17T21:51:16.018Z"
                          },
                          "season": {
                            "type": "object",
                            "properties": {
                              "end_date": {
                                "type": "string",
                                "example": "2024-01-17"
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              },
                              "start_date": {
                                "type": "string",
                                "example": "2024-01-17"
                              },
                              "tournament_id": {
                                "type": "string",
                                "example": "string"
                              },
                              "year": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "sport_event_conditions": {
                            "type": "object",
                            "properties": {
                              "comment": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "day_night": {
                                "type": "string",
                                "example": "day"
                              },
                              "neutral_venue": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "outfield_info": {
                                "type": "object",
                                "properties": {
                                  "outfield_conditions": {
                                    "type": "string",
                                    "example": "slow"
                                  }
                                }
                              },
                              "pitch_info": {
                                "type": "object",
                                "properties": {
                                  "boundary_position": {
                                    "type": "string",
                                    "example": "in"
                                  },
                                  "grass_cover": {
                                    "type": "string",
                                    "example": "barren"
                                  },
                                  "pitch_moisture": {
                                    "type": "string",
                                    "example": "very_dry"
                                  },
                                  "pitch_quality": {
                                    "type": "string",
                                    "example": "normal"
                                  }
                                }
                              },
                              "referees": {
                                "type": "object",
                                "properties": {
                                  "referee": {
                                    "type": "object",
                                    "properties": {
                                      "country_code": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "name": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "nationality": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "type": {
                                        "type": "string",
                                        "example": "main_referee"
                                      }
                                    }
                                  },
                                  "umpires": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "name": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "number": {
                                          "type": "integer",
                                          "example": 0,
                                          "default": 0
                                        },
                                        "type": {
                                          "type": "string",
                                          "example": "3rd"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "type": {
                                "type": "string",
                                "example": "test"
                              },
                              "weather_info": {
                                "type": "object",
                                "properties": {
                                  "rain_conditions": {
                                    "type": "string",
                                    "example": "no_rain"
                                  },
                                  "sky_conditions": {
                                    "type": "string",
                                    "example": "clear"
                                  },
                                  "temperature_range": {
                                    "type": "string",
                                    "example": "very_hot"
                                  },
                                  "wind_conditions": {
                                    "type": "string",
                                    "example": "no_wind"
                                  }
                                }
                              }
                            }
                          },
                          "start_time_tbd": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "status": {
                            "type": "string",
                            "example": "string"
                          },
                          "tour": {
                            "type": "object",
                            "properties": {
                              "category": {
                                "type": "object",
                                "properties": {
                                  "country_code": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              },
                              "sport": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              }
                            }
                          },
                          "tournament": {
                            "type": "object",
                            "properties": {
                              "category": {
                                "type": "object",
                                "properties": {
                                  "country_code": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "current_season": {
                                "type": "object",
                                "properties": {
                                  "end_date": {
                                    "type": "string",
                                    "example": "2024-01-17"
                                  },
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "start_date": {
                                    "type": "string",
                                    "example": "2024-01-17"
                                  },
                                  "year": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "gender": {
                                "type": "string",
                                "example": "men"
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              },
                              "parent_id": {
                                "type": "string",
                                "example": "string"
                              },
                              "season_coverage_info": {
                                "type": "object",
                                "properties": {
                                  "max_coverage_level": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "max_covered": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "min_coverage_level": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "played": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "scheduled": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                  },
                                  "season_id": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "sport": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "string"
                                  }
                                }
                              },
                              "tour_id": {
                                "type": "string",
                                "example": "string"
                              },
                              "type": {
                                "type": "string",
                                "example": "test"
                              }
                            }
                          },
                          "tournament_round": {
                            "type": "object",
                            "properties": {
                              "cup_round_match_number": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "cup_round_matches": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              },
                              "number": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "other_match_id": {
                                "type": "string",
                                "example": "string"
                              },
                              "phase": {
                                "type": "string",
                                "example": "string"
                              },
                              "type": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "venue": {
                            "type": "object",
                            "properties": {
                              "bowling_ends": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                }
                              },
                              "capacity": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "city_name": {
                                "type": "string",
                                "example": "string"
                              },
                              "country_code": {
                                "type": "string",
                                "example": "string"
                              },
                              "country_name": {
                                "type": "string",
                                "example": "string"
                              },
                              "id": {
                                "type": "string",
                                "example": "string"
                              },
                              "map_coordinates": {
                                "type": "string",
                                "example": "string"
                              },
                              "name": {
                                "type": "string",
                                "example": "string"
                              },
                              "timezone": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{language_code}/matches/{match_id}/lineups.{format}": {
      "get": {
        "summary": "Match Lineups",
        "description": "Provides lineups and batting order for a given match.",
        "operationId": "cricket-match-lineups",
        "parameters": [
          {
            "name": "language_code",
            "in": "path",
[...]
